.test{
    width: 170px;
    height: 209px;
    font-size: 10px;
    background-color: rgba(255, 255, 255, .9);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
    position: fixed;
    bottom: 40px;
    left:0px;
    z-index: 20;
    margin: 0;
    box-sizing: border-box;
    border-radius: 0px 10px 0px 0px;
    display: grid;
    grid-template-columns: 3fr 5fr;
    justify-items: start;
    align-items: center;

    h1{
        color: #01b4c6;
        margin: 0px 5px;
        font-size: 1.2em;
        text-transform: capitalize;
    }

    p{
        font-size: 1em;
        margin: 0px 5px;
        color: #01b4c6;
        text-align: initial;
    }
}

